:host {
  display: block;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 20;
}

.dropdown-item:hover {
  background-color: #108ab9; /* Cambia lo sfondo durante l'hover */

}


.navbar-logo {
  width: 65px;
  height: auto;
}

hr {
  background-color: white;
}
