<div class="my-container mx-auto">
  <section class="m-3 p-4 border border-dark my-rounded-corner">
    <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">
      Informazioni di pagamento
    </h4>
    <table class="table w-50 mx-auto table-bordered table-hover my-shadow">
      <tbody>
        <tr>
          <td>Totale Prodotti</td>
          <td class="fs-5 fw-bold">{{ usersCart.cartItems.length }}</td>
        </tr>
        <tr>
          <td>Prezzo Totale</td>
          <td class="fs-5 fw-bold text-danger">
            {{ usersPaymentInfo.totalAmount }}€
          </td>
        </tr>
        <tr>
          <td>Spese di spedizione</td>
          <td class="fs-5 fw-bold text-danger">
            {{ usersPaymentInfo.shipingCharges }}€
          </td>
        </tr>
        <tr>
          <td>Sconto</td>
          <td class="fs-5 fw-bold text-success">
            {{ usersPaymentInfo.amountReduced }}€
          </td>
        </tr>
        <tr>
          <td>Totale da Pagare</td>
          <td class="fs-5 fw-bold text-success">
            {{ usersPaymentInfo.amountPaid }}€
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="m-3 p-4 border border-dark my-rounded-corner">
    <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">
      Metodo di pagamento
    </h4>
    <div class="d-flex justify-content-center align-items-center">
      <h5 class="me-4">Seleziona metodo di pagamento</h5>
      <select class="form-select w-25" [formControl]="selectedPaymentMethod">
        <option value="0">Seleziona dal menu</option>
        <option
          *ngFor="let paymentMethod of paymentMethods"
          value="{{ paymentMethod.id }}"
        >
          {{ paymentMethod.type }}
          <span *ngIf="paymentMethod.provider !== ''">{{
            " - " + paymentMethod.provider
          }}</span>
        </option>
      </select>
    </div>
  </section>

  <section class="m-3 p-4 border border-dark my-rounded-corner">
    <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">
      Procedi al pagamento
    </h4>
    <div class="mt-4 w-50" *ngIf="selectedPaymentMethodName !== ''">
      <table class="table table-bordered my-shadow">
        <thead>
          <tr>
            <td>Totale da Pagare</td>
            <td>{{ usersPaymentInfo.amountPaid }}€</td>
          </tr>
          <tr>
            <td>Metodo di pagamento</td>
            <td>{{ this.getPaymentMethod(selectedPaymentMethodName) }}</td>
          </tr>
          <tr>
            <td>Indirizzo</td>
            <td *ngIf="true">
              {{ address }}
            </td>
          </tr>
          <tr>
            <td>Numero di telefono</td>
            <td *ngIf="true">
              {{ mobileNumber }}
            </td>
          </tr>
        </thead>
      </table>

      <div class="d-grid w-50">
        <button
          type="button"
          class="btn btn-outline-success mb-4"
          (click)="placeOrder()"
        >
          Paga Ora
        </button>
      </div>

      <div class="processing">
        <div class="spinner-border me-4" role="status" *ngIf="displaySpinner">
          <span class="visually-hidden">Loading...</span>
        </div>
        <h6 class="m-0">{{ message }}</h6>
      </div>
    </div>
  </section>

  <div *ngIf="!false" class="pt-4"></div>
</div>
